{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<main id="auth_modal">
		<div class="wrapper"></div>
		<form method="POST" class="auth-form">
			<div class="auth-wrapper">
				<div class="form-header">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shield-lock" width="90" height="90" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3"/>
						<circle cx="12" cy="11" r="1"/>
						<line x1="12" y1="12" x2="12" y2="14.5"/>
					</svg>
				</div>
				<div class="form-fieldset">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="form-input input-text">
						<label for="email">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44" height="44" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
								<circle cx="12" cy="7" r="4"/>
								<path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"/>
							</svg>
						</label>
						<input type="email" name="email" id="email" value="{{ last_username }}" placeholder="Entrer votre addresse mail" required>
					</div>
					<div class="form-input input-text">
						<label for="password">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="44" height="44" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
								<rect x="5" y="11" width="14" height="10" rx="2"/>
								<circle cx="12" cy="16" r="1"/>
								<path d="M8 11v-4a4 4 0 0 1 8 0v4"/>
							</svg>
						</label>
						<input type="password" name="password" id="password" placeholder="Entre votre mot de passe" required>
					</div>
					<a href="">Mots de passe oublié</a>
				</div>
				<div class="form-submit">
					<button type="submit" class="btn">Se connecter</button>
					<a href="{{ path('auth_register') }}">Créez un compte.</a>
				</div>
			</div>
		</form>
	</main>
{% endblock %}
