.account {
    margin: 0;
    width: 100%;
    .header {
        height: 4rem;
        background-color: var(--dark-contrast);
        font-size: 1.4em;
        line-height: 4rem;
        color: var(--font);
        h2 {
            margin-left: 2rem;
            font-size: 2rem;
        }
    }
    .account-container {
        display: flex;
        margin: 3rem 2rem;
        .account-menu {
            display: flex;
            flex-direction: column;
            width: 18rem;
            background-color: var(--font);
            border-radius: 18px;
            box-shadow: 0 1px 3px 0 var(--primary);
            a {
                text-align: center;
                text-decoration: none;
                color: var(--dark-contrast);
                font-size: 1.3em;
                padding: 1rem;
                position: relative;
                transition: 0.2s background-color, 0.2s color ease-in-out;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 22%;
                    width: 60%;
                    height: 2px;
                    background-color: var(--dark-contrast);
                }
                &:hover {
                    cursor: pointer !important;
                    background-color: var(--dark-contrast);
                    color: var(--gold);
                }
                &:first-child {
                    margin-top: 1rem;
                }
            }
            .active {
                color: var(--gold);
                font-weight: bold;
            }
        }
        .account-info {
            flex-grow: 1;
            background-color: var(--font);
            border-radius: 18px;
            margin-left: 1.2rem;
            padding: 1.3rem;
            box-shadow: 0 1px 3px 0 var(--primary);
            .no-rent {
                padding-top: 0.2rem;
                text-align: center;
                font-size: 2em;
            }
            .grid-two {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            }
        }
    }
}

@media (max-width: 770px) {
    .account {
        padding: 1rem !important;
        .account-container {
            flex-direction: column;
            .account-menu {
                width: auto !important;
                margin-bottom: 2rem;
            }
            .account-info {
                margin-left: 0 !important;
                .grid-two {
                    display: flex !important;
                    flex-direction: column;
                }
            }
        }
    }
}