.alert {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10000;
    top: 8%;
    right: 5%;
    background-color: var(--alert-info);
    color: var(--info);
    border-radius: 5px;
    font-weight: 500;

    .alert-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.8rem 1.2rem;
        span {
            margin-left: 5px;
            display: flex;
            align-self: center;
        }
        p{ margin-left: 0.8rem; }
    }

    .alert-progress-bar {
        height: 6px;
        background-color: var(--gold);
        animation: 4s slidein;
        width: 0;
    }
}
/*----------------------------------------------------------*/
.alert-info {
    background-color: var(--alert-info);
    color: var(--info);
}
.alert-success {
    background-color: var(--alert-success);
    color: var(--success);
}
.alert-warning {
    background-color: var(--alert-warning);
    color: var(--alert-text-warning);
}
.alert-error {
    background-color: var(--alert-error);
    color: var(--error);
}
/*----------------------------------------------------------*/