.input-text, .input-date, .input-textarea {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    label {
        font-size: 1.2rem;
    }

    input, select, textarea {
        border: none;
        border-bottom: 1px solid var(--light-contrast);
        font-size: 1.1rem;
        transition: 0.2s ease-in-out;
        outline: none;
        margin: 0.8rem 0.4rem 0.4rem 0;
        padding: 5px;
        
        &:hover {
            border-bottom: 2px solid var(--gold);
        }
    }

    textarea {
        border: 1px solid var(--light-contrast);
    }
}