.search {
    position: relative;
    input[type="text"]{
        width: 96%;
    }

    .close-search {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 15px;
        right: 10px;
    }

    .search-result {
        position: absolute;
        z-index: 10;
        display: none;
        flex-direction: column;
        width: 100%;
        height: 15rem;
        top: 3rem;
        background-color: var(--vlight-grey);
        border: 1px solid var(--medium-grey);
        overflow-y: scroll;

        .search-result-element {
            display: flex;
            flex-direction: column;
            padding: 0.4rem;
            margin: 0.5rem;
            border-bottom: 1px solid var(--color-primary);

            .office-street {
                margin: 0.4rem;
                font-size: 1.3rem;
            }
            .office-email, .office-phone {
                font-size: 1rem;
            }

            &:hover {
                background-color: var(--light-grey);
                cursor: pointer;
            }
        }

        .select-result-element {
            display: flex;
            padding: 0.4rem;
            margin: 0.5rem;
            border-bottom: 1px solid var(--color-primary);
            
            &:hover {
                background-color: var(--light-grey);
                cursor: pointer;
            }

            label {
                font-size: inherit;
                align-self: center;
                padding-left: 0.5rem;

                &:hover { 
                    background-color: var(--light-grey);
                    cursor: pointer;    
                }
            }

            input[type="checkbox"] {
                align-self: center;
                &:hover {
                    background-color: var(--light-grey);
                    cursor: pointer;
                }
            }
        }
    }

    &.open-search-result {
        .close-search {
            transform: rotate(180deg);
        }
        .search-result {
            display: flex !important;
        }
    }
}