.select-element {
    position: relative;
    .select-input-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 5px;
        margin-top: 0.2rem;

        input {
            grid-column: 1 / -1;
            border: 1px solid var(--light-contrast);
            font-size: 1.1rem;
            transition: 0.2s ease-in-out;
            outline: none;
            margin: 0.4rem 0.4rem 0.4rem 0;
            padding: 5px;
            
            &:hover {
                border: 2px solid var(--gold);
            }
        }

        .select-input-tag {
            text-align: center;
            background-color: var(--alert-info);
            border: var(--dark-contrast);
            border-radius: 5px;
            padding: 0.4rem;

            &:hover {
                cursor: pointer;
                filter: brightness(0.95);
            }
        }
    }

    .select-result-container {
        display: none;
        position: absolute;
        z-index: 10;
        width: 98%;
        max-height: 11rem;
        overflow-y: scroll;
        background-color: white;
        border: 1px solid var(--light-contrast);
        .select-result-list {
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
            li {
                list-style: none;
                padding: 0.3rem 0 0.3rem 1rem;

                &:hover {
                    background-color: var(--font);
                    cursor: pointer;
                }
            }
        }
    }

    &.display-results {
        .select-result-container {
            display: block;
        }
    }
}

.select-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    label {
        font-size: 1.2rem;
    }
}