:root {
    --gold: #CBAB52;
    --primary: #1F1F1F;
    --dark-contrast: #3D3D3D;
    --light-contrast: #D6D6D6;
    --font: #F5F5F5;

    --success: #3AA64B;
    --info: #3B73E3;
    --warning: #E3C726;
    --error: #EE5044;
    --disabled: #B8B8B8;

    --alert-success: #cfffb3;
    --alert-info: #caf0f8;
    --alert-warning: #f8f4dd;
    --alert-text-warning: #c9af1a;
    --alert-error: #FADBDF;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* Pages */
@import 'pages/auth.scss';
@import 'pages/homepage.scss';
@import 'pages/rent_step_1.scss';
@import 'pages/rent_step_2.scss';
@import 'pages/rent_step_3.scss';
@import 'pages/rent_step_4.scss';

/* Modules */
@import "modules/alert";
@import "modules/animations";
@import 'modules/button';
@import 'modules/container';
@import 'modules/footer';
@import 'modules/input';
@import 'modules/navbar';
@import 'modules/search';