#rent_step_2 {
    #filter-section {
        border-bottom: 2px solid var(--dark-grey);
        background-color: var(--vlight-grey);
        #filter-section-wrapper {
            padding: 2rem;
            #filter-form {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
                grid-gap: 0.5rem;
    
                .filter-input {
                    margin: 0.5rem !important;
                }
                .filter-submit {
                    align-self: center;
                    justify-self: center;
                }
            }
        }
    }

    .cars-list {
        width: 80%;
        margin: 0.5rem auto;

        .car-main {
            display: flex;
            margin: 3rem 0;
            padding: 0.2rem;
            border-bottom: 1px solid var(--light-grey);
            background-color: var(--vlight-grey);
            
            .car-image {
                width: 50%;
                img {
                    width: 100%;
                }
            }
            .rent-info {
                width: 50%;
                display: flex;
                .car-info {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    h3 {
                        align-self: center;
                        font-size: 1.5rem;
                        margin: 1rem;
                    }
                    .car-specs {
                        padding: 1rem 3rem;
                        .car-spec {
                            display: flex;
                            span {
                                width: 45px;
                            }
                            p{
                                align-self: center;
                                margin-left: 0.8rem;
                            }
                        }
                    }
                }
                .rent-price {
                    flex-grow: 1;
                    display: flex;
                    div {
                        width: 100%;
                        justify-self: center;
                        align-self: center;
                        border: 1px solid var(--medium-grey);
                        padding: 2rem;
                        h5 {
                            font-size: 2rem;
                        }
                        .btn {
                            margin: 1rem auto 0 auto;
                        }
                    }
                }
            }
        }
    }
    
}