{% extends "base.html.twig" %}

{% block title 'Page de test' %}


{% block body %}
<main id='test'>
    {% if test %}
        <h4>{{ test }}</h4>
    {% endif %}
    <button id='btn-test'>Test</button>
</main>

{% endblock %}