{% extends "base.html.twig" %}

{% block title 'Page de test' %}


{% block body %}
<main id='test'>
    {# <js-search-offices 
        data-id='pickup_office'
        data-name='pickup_office'
        data-placeholder='Test'
        data-list='pickup_offices'
    ></js-search-offices> #}

    <button id='btn-test'>Test</button>
</main>

{% endblock %}