{% extends "base.html.twig" %}

{% block title 'Locations disponibles' %}

{% block body %}
    <main id="rent_step_2">
        {% include "rent/step_2/_filter.html.twig" %}

        <div class="cars-list">
            <h4>Oops</h4>
        </div>
    </main>

{% endblock %}