{% extends 'admin/base.html.twig' %}

{% block title "Modification d'un modele " %}

{% block body %}
<main id='admin_model_edit' class='admin_crud_edit'>
    <div class="header">
        <h2>Modification d'un modèle</h2>
    </div>
    <div class="form">
    {{ form_start(form) }}
        <div class="input-text">
            <label>Nom :</label>
            {{ form_widget(form.model)}}
        </div>
        <div class="submit">
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
    </div>
</main>

{% endblock %}