@mixin sidebar-closed {
    min-width: 4rem;
    flex-basis: 4rem;
    overflow-x: hidden;
    .sidebar-header {
        svg, h1 {
            visibility: hidden;
        }
    }
}
@mixin sidebar-button {
    position: absolute;
    right: 14px;
    min-width: 35px;
    min-height: 35px;
    background-color: transparent;
    border: none;
    span {
        font-size: 0;
    }
    span, span::after, span::before {
        position: relative;
        display: block;
        content: '';
        min-width: 35px;
        height: 3px;
        background-color: var(--font);
        left: 0;
        transition: transform 0.4s;
    }
    span::after {
        top: 0.5rem;
    }
    span::before {
        bottom: 0.6rem;
    }
    &:hover {
        cursor: pointer;
    }
}

.sidebar-closed {
    @include sidebar-closed;
}

.sidebar {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    flex-direction: column;
    flex-basis: 270px;
    min-width: 270px;
    height: 100vh;
    background-color: var(--primary);
    z-index: 1;
    transition: min-width 0.4s linear, flex-basis 0.4s linear;
    .sidebar-header {
        display: flex;
        position: relative;
        height: 4rem;
        align-items: center;
        border-bottom: 1px solid var(--font);
        color: var(--font);
        .icon {
            flex-basis: 4rem;
        }
        h1 {
            font-size: 2em;
        }
        #sidebar-button {
            @include sidebar-button;
        }
        #sidebar-mobile-button {
            @include sidebar-button;
            display: none;
        }
    }
    .sidebar-navigation {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        .sidebar-list, .sidebar-user {
            color: var(--font);
            li {
                border-bottom: 1px solid var(--font);
                display: flex;
                align-items: center;
                height: 3.5rem;
                font-size: 1.2em;
                list-style: none;
            }
            a {
                text-decoration: none;
                color: var(--font);
                &:hover {
                    color: var(--gold);
                }
            }
            .sidebar-category {
                transition: background-color 0.4s ease-in-out;
                svg {
                    min-width: 4rem;
                }
                .category-chevron, .sub-menu-chevron { 
                    transition: 0.4s ease-in-out;
                    margin-left: auto;
                }
                .category-title {
                    display: flex;
                    width: 100%;
                    height: 3.5rem;
                    align-items: center;
                    border-bottom: 1px solid var(--font);
                    list-style: none;
                }
                .sidebar-sub-menu {
                    position: absolute;
                    visibility: hidden;
                    overflow-x: hidden;
                    width: 0;
                    // width: calc(100% - 4rem);
                    top: 0;
                    right: 0;
                    background-color: var(--dark-contrast);
                    height: calc(100vh - 4rem);
                    transition: visibility 0.8s, width 0.4s;
                    li { font-size: 0.9em; }
                    li > a ,li > div {
                        font-size: 0.9em;
                        justify-content: unset;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        svg {
                            min-width: 3rem;
                        }
                    }
                    .sub-menu-title {
                        width: 100%;
                        font-size: 1.1em;
                        font-weight: bold;
                        .category-chevron {
                            margin-left: 0;
                        }
                        svg {
                            min-width: 3rem;
                            transform: rotate(-90deg);
                        }
                    }
                    .has-sub-menu {
                        position: relative;
                        flex-direction: column;
                        height: auto;
                        div { min-height: 3.5rem; }
                        .links {
                            width: 100%;
                            visibility: hidden;
                            height: 0;
                            li {
                                border: none;
                                height: auto;
                                background-color: var(--light-contrast);
                                transition: filter 0.3s;
                                a {
                                    padding: 0.5rem 0 0.5rem 2rem;
                                    color: var(--primary);
                                }
                                &:hover {
                                    cursor: pointer;
                                    filter: brightness(85%);
                                }
                            }
                        }
                        &:hover {
                            cursor: pointer;
                            .sub-menu-chevron {
                                transform: rotate(180deg);
                            }
                            .links {
                                visibility: visible;
                                height: auto;
                            }
                        }
                    }
                }
                &:hover {
                    cursor: pointer;
                    background-color: var(--dark-contrast);
                    .sidebar-sub-menu {
                        visibility: visible;
                        width: calc(100% - 4rem);
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .sidebar {
        @include sidebar-closed;
        #sidebar-button {
            display: none;
        }
        #sidebar-mobile-button {
            display: block !important;
            &.sidebar-button-open {
                span {
                    height: 0;
                    &::after {
                        transform: rotate(-45deg);
                        top: -2px;
                    }
                    &::before {
                        transform: rotate(45deg);
                        bottom: 0;
                    }
                }   
            }
        }
        &.mobile-sidebar-open {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            flex-basis: 100%;
            overflow-x: visible;
            .sidebar-header {
                svg, h1 {
                    visibility: visible;
                }
            }
        }
    }
}