<footer class="footer">
    <section class="footer-contact">
        <h4>Nous contacter :</h4>
        <div class="footer-contact-mail">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="35" height="35" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <rect x="3" y="5" width="18" height="14" rx="2" />
                    <polyline points="3 7 12 13 21 7" />
                </svg>
            </span>
            <a href="#">contact@carloc.fr</a>
        </div>
        <div class="footer-contact-phone">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="35" height="35" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                </svg>
            </span>
            <a href="#">04 05 06 07 08</a>
        </div>
    </section>
    <section class="footer-link">
        <div><a href="#">Politique de confidentialité</a></div>
        <div><a href="#">Mentions générales</a></div>
        <div><a href="#">Copyright</a></div>
    </section>
    <section class="footer-about-us">
        <h4>A propos de nous :</h4>
        <div class="footer-about-us-link">
            <a href="#">Qui sommes nous ?</a>
            <a href="#">Offres d’emplois</a>
        </div>
    </section>
</footer>