<nav class="navbar-container">
    <section class="navbar-logo">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car" width="44" height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#F9FAFB" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <circle cx="7" cy="17" r="2" />
            <circle cx="17" cy="17" r="2" />
            <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
        </svg>
    </section>
    <section class="navbar-links">
        <div class="navbar-link">
            <a href="{{ path("rent_office") }}">Louer</a>
        </div>
        <div class="navbar-link">
            <a href="">Contact</a>
        </div>
    </section>
    <section class="navbar-user">
        <div class="navbar-link">
            <a href="">Mes locations</a>
        </div>
        <div class="navbar-link">
            <a href="">Mon compte</a>
        </div>
        <div class="navbar-link">
            <a href="">Déconnexion</a>
        </div>
    </section>
    <section class="mobile-nav">
        <button class="mobile-nav-btn" aria-label="Ouverture menu pour mobile">
            <span></span>
        </button>
    </section>
</nav>