{% extends "base.html.twig" %}

{% block title 'Validation de ma location' %}

{% block body %}
    <main id="rent_step_5">
        <section class="main">
                <h4>Votre location est en cours de validation</h4>
                <div class="animation"></div>
                <p>Vous pouvez visualiser l’état de votre location dans votre espace personnel, rubrique “Mes Locations”.</p>
                <button class="btn"><a href='{{ path('user_rent_list') }}'>Mes Locations</a></button>
        </section>
    </main>
{% endblock %}